/* .container > *{
  border: 2px solid rgb(183, 227, 210);
}

body {
  background: rgb(53, 67, 78);
  margin: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100vh;
  border: 2px solid hotpink;
}

.a,
.f {
  width: 98%;
  min-height: 10%;

}

.b {
  width: 98%;
  min-height: 30%;

}

.c,
.d,
.e {
  width: 32%;
  min-height: 10%;
} */

@media(min-width: 600px) {

.container > *{
  border: 2px solid rgb(183, 227, 210);
}

body {
  background: rgb(53, 67, 78);
  margin: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100vh;
  border: 2px solid hotpink;
}

.a
 {
  width: 98%;
  height: 30%;

}

.b {
  width: 70%;
  height: 30%;

}

.c,
.d,
.e {
  align-self: flex-start;
  width: 20%;
  height: 30%;
}

.f{
  width:20%;
  height:60%;
  /* flex-direction: column;
  align-self:flex-end; */
}


  /* .container {
   
    justify-content: space-evenly;
  }

  .a {
    width: 75%;
    height: 30%;
    flex-grow: 1;
  }

  .b {
    max-width: 73%;
    height: 30%;
  }

  .c,
  .d,
  .e {
    flex-basis: 23%;
    align-self:flex-end;
    
    height: 30%;
  }

  .f {
    
    max-width: 23%;
    height: 60%;
  } */
}